NodeRED_Flow/flows.json
[
    {
        "id": "f2d3374c075e3cdc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ef5f475ddf9de58",
        "type": "mqtt in",
        "z": "f2d3374c075e3cdc",
        "name": "",
        "topic": "iot/vehicle/tracking",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8dfff75c2ad22c7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "dd4ed7ed64ebb890"
            ]
        ]
    },
    {
        "id": "6d48a333f50c3d16",
        "type": "debug",
        "z": "f2d3374c075e3cdc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "b2c0e49bb3a9156a",
        "type": "ui_text",
        "z": "f2d3374c075e3cdc",
        "group": "304debd67d6c053b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude",
        "format": "{{msg.payload.latitude}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "c685252cca3a6ab5",
        "type": "ui_text",
        "z": "f2d3374c075e3cdc",
        "group": "1577528828021d54",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude",
        "format": "{{msg.payload.longitude}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "7b5c51dc249e86e7",
        "type": "ui_text",
        "z": "f2d3374c075e3cdc",
        "group": "b8d8b77cc3d023c5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vehicle Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "e037f0c671953129",
        "type": "ui_toast",
        "z": "f2d3374c075e3cdc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "cc44ac9ff15940c5",
        "type": "ui_gauge",
        "z": "f2d3374c075e3cdc",
        "name": "",
        "group": "716f8837d908d19a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Theft Risk",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "1589253cb8da0cd8",
        "type": "ui_text",
        "z": "f2d3374c075e3cdc",
        "group": "716f8837d908d19a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Engine Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "b5ef8bc616b1096b",
        "type": "ui_text",
        "z": "f2d3374c075e3cdc",
        "group": "716f8837d908d19a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alert Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "f69cf4c24aae83e8",
        "type": "ui_chart",
        "z": "f2d3374c075e3cdc",
        "name": "",
        "group": "716f8837d908d19a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Theft History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "dd4ed7ed64ebb890",
        "type": "json",
        "z": "f2d3374c075e3cdc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "6d48a333f50c3d16",
                "b2c0e49bb3a9156a",
                "c685252cca3a6ab5",
                "7b5c51dc249e86e7",
                "c88e463d81f757e1",
                "3e4ac23069977e5c",
                "f79286c233773c8a",
                "4b44e3b7ff853314",
                "8a7f38b55fdff490"
            ]
        ]
    },
    {
        "id": "c88e463d81f757e1",
        "type": "function",
        "z": "f2d3374c075e3cdc",
        "name": "function 1",
        "func": "var gauge = {};\nvar engine = {};\nvar alerts = {};\nvar chart = {};\nvar notify = null;\n\nif (msg.payload.status === \"THEFT ALERT\") {\n\n    gauge.payload = 100;\n\n    engine.payload = \"🔒 LOCKED\";\n\n    alerts.payload = \"🚨 VEHICLE STOLEN\";\n\n    chart.payload = 100;\n\n    notify = {\n        payload: \"🚨 VEHICLE THEFT DETECTED!\"\n    };\n\n}\nelse {\n\n    gauge.payload = 0;\n\n    engine.payload = \"🟢 RUNNING\";\n\n    alerts.payload = \"✅ SAFE\";\n\n    chart.payload = 0;\n}\n\nreturn [gauge, engine, alerts, chart, notify];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "cc44ac9ff15940c5"
            ],
            [
                "1589253cb8da0cd8"
            ],
            [
                "b5ef8bc616b1096b"
            ],
            [
                "f69cf4c24aae83e8"
            ],
            [
                "e037f0c671953129"
            ]
        ]
    },
    {
        "id": "3e4ac23069977e5c",
        "type": "ui_template",
        "z": "f2d3374c075e3cdc",
        "group": "85579e0c02807bcb",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<center>\n\n    <a href=\"https://www.google.com/maps\" target=\"_blank\">\n\n        <button style=\"\npadding:12px;\nfont-size:16px;\nbackground:#00E5FF;\nborder:none;\nborder-radius:8px;\ncursor:pointer;\">\n\n📍 Open Google Maps\n\n</button>\n\n    </a>\n\n</center>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4b44e3b7ff853314",
        "type": "ui_template",
        "z": "f2d3374c075e3cdc",
        "group": "8c251fc907269424",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<center>\n\n    <img\nsrc=\"https://images.unsplash.com/photo-1503376780353-7e6692767b70?w=800\"\nwidth=\"100%\">\n\n    <h3>🚗 Vehicle Monitoring System</h3>\n\n</center>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f79286c233773c8a",
        "type": "ui_template",
        "z": "f2d3374c075e3cdc",
        "group": "24c9019a326f4e88",
        "name": "",
        "order": 5,
        "width": "6",
        "height": "7",
        "format": "<center>\n\n    <h3>🛰 GPS ACTIVE</h3>\n\n    <h3>📡 MQTT ONLINE</h3>\n\n    <h3>🔒 ENGINE LOCK</h3>\n\n    <h3>🚨 THEFT DETECTION</h3>\n\n    <h3>🛡 VEHICLE SECURITY</h3>\n\n</center>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8a7f38b55fdff490",
        "type": "ui_template",
        "z": "f2d3374c075e3cdc",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<center>\n    <h1>🚗 IoT Vehicle Tracking & Theft Prevention System</h1>\n    <p>ESP32 • MQTT • Node-RED • Real-Time Monitoring</p>\n</center>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "506340e56338e965",
        "type": "ui_spacer",
        "z": "f2d3374c075e3cdc",
        "name": "spacer",
        "group": "3283234ec320c631",
        "order": 2,
        "width": "12",
        "height": "1"
    },
    {
        "id": "8dfff75c2ad22c7b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "304debd67d6c053b",
        "type": "ui_group",
        "name": "📍 Latitude",
        "tab": "dfb8a9f5bca47345",
        "order": 12,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1577528828021d54",
        "type": "ui_group",
        "name": "📍 Longitude",
        "tab": "dfb8a9f5bca47345",
        "order": 13,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8d8b77cc3d023c5",
        "type": "ui_group",
        "name": "🚗 Vehicle Status",
        "tab": "dfb8a9f5bca47345",
        "order": 14,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "716f8837d908d19a",
        "type": "ui_group",
        "name": "Security",
        "tab": "dfb8a9f5bca47345",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "85579e0c02807bcb",
        "type": "ui_group",
        "name": "📊 Analytics",
        "tab": "dfb8a9f5bca47345",
        "order": 11,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c251fc907269424",
        "type": "ui_group",
        "name": "🚗 Vehicle Monitoring",
        "tab": "dfb8a9f5bca47345",
        "order": 9,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "24c9019a326f4e88",
        "type": "ui_group",
        "name": "🔒 Security Center",
        "tab": "dfb8a9f5bca47345",
        "order": 10,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3283234ec320c631",
        "type": "ui_group",
        "name": "Live Map",
        "tab": "cb68ec916ac1f614",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfb8a9f5bca47345",
        "type": "ui_tab",
        "name": "live map",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb68ec916ac1f614",
        "type": "ui_tab",
        "name": "Vehicle Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "07ef6bbfe1cf8d05",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]